<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.manage.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.hotel.manage.entity.SysRole">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="is_enabled" property="isEnabled" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <sql id="Base_Column_List">
        id, code, name, is_enabled, created_at, updated_at
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_role (code, name, is_enabled)
        VALUES (#{code}, #{name}, #{isEnabled})
    </insert>

    <update id="update">
        UPDATE sys_role
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM sys_role WHERE id = #{id}
    </delete>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_role
        WHERE id = #{id}
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_role
        <where>
            <if test="name != null and name != ''">AND name LIKE CONCAT('%', #{name}, '%')</if>
            <if test="code != null and code != ''">AND code LIKE CONCAT('%', #{code}, '%')</if>
            <if test="isEnabled != null">AND is_enabled = #{isEnabled}</if>
        </where>
        ORDER BY id ASC
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM sys_role
        ORDER BY id ASC
    </select>

</mapper>
